*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.card-group .card img{
width: 400px;
height: 200px;
}
a{
    text-decoration: none;
    color: black;
}

.card-group .card{
border: 2px solid;
 }
 /* .card-group .card a button{
width: 100px;
 } */